<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../styles/popup.css" />
        <title>JobApply Autofill</title>
    </head>
    <body>
        <main class="popup">
            <h1 class="popup__title">JobApply Autofill</h1>
            <div class="popup__options">
                <button id="btn--autofill-info" class="btn" type="button">Autofill Info</button>
                <button id="btn--edit-info" class="btn" type="button">Edit Info</button>
            </div>
        </main>
        <script src="../scripts/popup.js" type="module"></script>
    </body>
</html>
